/* historico */
/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--scroll), transparent);
  border-radius: 0.9rem;
}
/* +++++BackToTopButton+++++++++++++++++++++++++++++ */

#backToTopButton {
  position: fixed;
  bottom: 3rem;
  right: 4rem;

  opacity: 0;
  visibility: hidden;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s;
}

:root {
  --def: 190;
  --primary-color: hsla(var(--def), 100%, 3%, 1);
  --gra: linear-gradient(180deg, #091e26 0%, #00131c 100%);
  --text: hsl(240, 9%, 89%);
  --textS: hsl(240, 9%, 89%);
  --dark300: hsl(198, 100%, 2%);
  --darkshadow: hsl(200, 48%, 10%);
  --border: hsl(210, 100%, 1%);
  --blue1: hsl(186, 100%, 75%);
  --blue2: hsl(195, 91%, 25%);
  --blue3: hsl(201, 100%, 5%);
  --grey: hsl(240, 6%, 51%);
  --red1: hsl(353, 95%, 24%);
  --scroll: hsl(353, 95%, 24%);
  --tomato: hsl(355, 38%, 49%);

  font-size: 62.5%; /*1rem igual 10px*/
}
a{
    text-decoration: none;
    color: var(--text);
}
body {
  background: var(--primary-color);
  font-family: DM Sans;

  color: var(--text);
  font-size: 1.6rem;
  text-align: center;
  overflow-x: hidden;
}
.wrapper {
  width: min(43.8rem, 100%);
  margin-inline: auto;
  margin-block: 2.4rem;
}

h6.title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;

  text-align: center;

  align-self: stretch;
}
svg {
  cursor: pointer;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2.4rem;
  gap: 0.8rem;

  width: 16.2rem;
  height: 3.2rem;

  border: none;
  color: var(--textS);
  background: var(--blue2);
  border-radius: 0.5rem;
}
button:hover {
  filter: brightness(1.3);
}

/* =============================================================================
  ================================================================================ */
/* Nav */
/* Nav */
nav {
  background-color: var(--blue3);
  margin-bottom: 4.4rem;
  width: 100%;
  z-index: 100;
}

nav button.navbar-toggler {
  width: 2.8rem;
  border: none;
  outline: none;
  padding: 2rem;
}
nav button.navbar-toggler span .close {
  display: none;
}
nav button.collapsed span .close {
  display: none;
  visibility: none;
  opacity: 0;
}
nav button.collapsed span .open {
  display: block;
  visibility: visible;
  opacity: 1;
}
nav button.clicked span .open {
  display: none;
  visibility: none;
  opacity: 0;
}

nav button.clicked span .close {
  display: block;
  visibility: visible;
  opacity: 1;
}

nav form label {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 1.2rem 1.4rem;
  gap: 1.4rem;
  border: none;
  outline: none;
  cursor: pointer;

  width: 30rem;
  height: 4rem;

  background: var(--darkshadow);
  border-radius: 0.5rem;
}
nav form label input {
  background: transparent;
  /* position: absolute; */
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
  color: var(--grey);

  font-size: 1.3rem;
}
nav form label input::placeholder {
  color: var(--grey);
}
nav form button.btn {
  width: 7rem;
  border: 0.1rem solid var(--blue2);
  height: 3.6rem;
  margin-left: 1rem;
  color: var(--grey);
}
nav button.pedidos {
  background: transparent;
  border: none;
  width: 30rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  margin: 0;
}
nav button.pedidos:hover {
  background: var(--darkshadow);
}
nav button.pedidos h6 {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
}
nav button.pedidos svg {
  width: 2rem;
}

nav button.logout {
  background: transparent;
  border: none;
  width: 30rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  margin: 0;
}
nav button.logout h6 {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
}
nav button.logout svg {
  width: 2rem;
}
nav button.logout:hover {
  background: var(--darkshadow);
}

nav button.cfg {
  background: transparent;
  border: none;
  width: 30rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  margin: 0;
}
nav button.cfg.dark{
  display: none;
}
nav button.cfg h6 {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
}
nav a.last {
  padding: 0;
}

nav button.cfg img {
  width: 2rem;
}
nav button.cfg:hover {
  background: var(--darkshadow);
}
/* ======================================================================================================================================================== */
/* Meu pedido */
main div#all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 2.7rem;
}
main div#all h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 140%;
}
main div#all div.pedidos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  width: 30.3rem;
}
main div#all div.pedidos div.pedido {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  align-items: center;
  width: 23.1rem;
  height: 10.4rem;
}
main div#all div.pedidos div.pedido img {
  width: 7.2rem;
  height: 7.2rem;
}
main div#all div.pedidos div.pedido span.pri {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main div#all span.pri span.seg {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 160%;
}
main div#all span.pri span.seg h4.qtd {
  display: none;
}
main div#all span.pri button.ter {
  background: initial;
  border: none;
  outline: none;

  width: initial;
  height: initial;
  margin: initial;
  padding: initial;
  justify-content: start;

  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 160%;

  color: var(--tomato);
}
main div#all span.pri span.seg small.hidden {
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 160%;
}
main div#all span.pri span.seg small{
  font-size: 1.4rem;
 
}
main button {
  margin-inline-start: auto;
  margin-block: 2rem;
}

/*=============================================================================================================================================================================  */
/* footer */
footer {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: a;
  align-items: center;
  padding-block: 3rem;
  /* padding-inline: 2.7rem; */
  gap: 0.8rem;

  width: 100%;
  height: 7.7rem;

  background: var(--blue3);
}
footer span {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;

  text-align: right;
}
/*=======================================================================================================================================================================  */
/* Desktop */
@media (min-width: 994px) {
  /* geral */
  body {
    overflow: auto;
  }
  .wrapper {
    width: min(100rem, 100%);
  }
  .nav-link {
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.8rem;
  }
  /* NAV */
  nav {
    height: 10.4rem;
    margin-bottom: 3.4rem;
  }

  nav div.container-fluid.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
  }
  .navbar-collapse {
    flex-grow: initial;

    align-items: center;
    justify-content: space-between;
  }
  nav form label {
    height: 5rem;
    margin-left: 13rem;
    margin-right: 2rem;
  }
  nav form button.btn {
    width: 0;
    border: initial;
    display: none;
  }
  nav button.pedidos:hover {
    background: var(--blue2);
    filter: brightness(1.3);
  }
  nav button.pedidos {
    width: initial;
    height: 4.7rem;
    background: var(--blue2);
    margin-right: 16rem;
  }

  nav button.pedidos h6 {
    text-align: initial;
    font-size: initial;
    margin: 0;
  }

  nav button.logout {
    width: initial;
  }
  nav button.logout h6 {
    display: none;
  }

  nav button.cfg {
    width: initial;
  }
  nav button.cfg h6 {
    display: none;
  }
  /* main */
  main div#all span.pri span.seg small.hidden {
    display: initial;
  }  
  main div#all span.pri span.seg h4.qtd {
    display: initial;
  }
  main div#all span.pri span.seg {
    width: 23.612rem;
    display: flex;
    flex-direction: row;
    gap: 1.012rem;
  }
  main div#all span.pri span.seg small{
    font-size: .8rem;
  }
  /* footer */
  footer .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    gap: 0.8rem;
  }
}
@media(max-width: 300px){
  .wrapper{
    width: 30rem;
  }
  footer{
    width: 30rem;
  }
  nav{
    width: 30rem;
  }
  header span p{
    font-size: 1rem;
  }
  header span h1{
    font-size: 1.5rem;
  }
}