/* index.saler */
*{
  color: var(--text);
}
div.content{
  padding-top: 10rem;
  padding-inline: 2rem;
  height: 100%;
  width: 100%;
}
div.content .cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2.7rem;
}
div.content .cards .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1;
  width: 15rem;
  padding: 1rem;
  background: var(--primary-color);
  border: .1rem solid #ffffff18;
}
.price{
  color: var(--new);
  font-size: 1.5rem;
}
#vendaButton{
  position: fixed;
  /* float: right; */
  right: 2rem;
}
.modal-content{
  background: var(--primary-color);
  color: var(--text);
}
table *{
  color: var(--text);
}
.dataTable-sorter::after {
  border-bottom: 4px solid var(--text);
}
.dataTable-sorter::before {
  border-top: 4px solid var(--text);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: var(--text);
  color: var(--primary-color);
}
.table-striped>tbody>tr:nth-of-type(odd)>* .bi-x-circle{
  color: var(--primary-color);
}
.table-striped>tbody>tr:nth-of-type(odd)>* .bi-dash{
  color: var(--primary-color);
}
.table-striped>tbody>tr:nth-of-type(odd)>* .bi-plus{
  color: var(--primary-color);
}
.table-striped>tbody>tr:nth-of-type(odd)>* .operations{
  color: var(--primary-color);
}
.bi-x-circle{
  font-size: 1.7rem;
  color: var(--text);
}
.bi-dash{
  font-size: 1.7rem;
  color: var(--text);
  cursor: pointer;
}
.bi-plus{
  font-size: 1.7rem;
  color: var(--text);
  cursor: pointer;
}
.operations{
  width: 2rem; color: var(--text); border: none; outline: none;
  background: transparent;
  float: left;
}

form#search{
  display: flex;
  gap :.5rem;
}
.payment{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.payment .totalprice{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
