/* Config */
#nav-taps{
    padding-top: 10rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
#nav-taps h1{
    padding-bottom: 5rem;
}
#nav-taps .links .nav-link{
   color: var(--text);
}
.nav-tabs .nav-link{
    border: none;
}
#nav-taps .links .nav-link:hover{
    border: none;
    outline: none;
    border-radius: 0;
   font-weight: bold;
}
#nav-taps .links .nav-link.active{
    background: var(--primary-color);
    font-weight: bold;
    border: none;
    outline: none;
}
.card {
    background: var(--primary-color);
}